* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #3f4254;
}
::-webkit-scrollbar {
  width: 4px; /* Ширина всего элемента навигации */
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: rgba(84, 63, 63, 0.15);
  border-radius: 4px;
}
#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
